/* Tailwind CSS base styles */
@tailwind base;

/* Tailwind CSS component styles */
@tailwind components;

/* Tailwind CSS utility styles */
@tailwind utilities;

/* Your custom global styles (optional) */
body {
  @apply bg-gray-100 text-gray-800;
  margin: 0;
  overflow: hidden; /* Prevents scrolling */
  height: 100vh; /* Ensures the body height matches the viewport */
}
